<div class="container">
  <router-outlet></router-outlet>
</div>
<br>


<!-- Parent Component -->
<div class="container">
  <div class="header">Parent Component</div>  
  <div>Small Family is Happy Family</div>
  <div>Child Says <span style="background-color: blue;">{{ChiledMessage}}</span> </div>

  <div>{{variable}}</div>

  <div>
    <div>
      <a routerLink="/child/raja">URL PARAM</a>
    </div>
    <div>
      <button (click)="gotoChild()">URL PARAM</button>
    </div>
  </div>

  <div> 
    <div><a [routerLink]="['/child/Ganesh']" [queryParams]="{ source: 'Application'}">Query PARAM</a></div>  
    <div><button (click)="gotochildwithparam()">Query PARAM</button></div>     
  </div>

  <div>
    <button (click)="GotoUser2()">Child</button>
  </div>

</div>



    <!-- //Child Component -->
  <div class="container">
    <app-child [data]="Message" (event)="recieveMessage($event)"></app-child>
  </div>
